<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Climate Solutions</title>
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
  <%- include('partials/navbar', {page: '/'}) %>


   

<main class="container mx-auto p-6">
  <div class="hero min-h-[40vh] bg-base-200 rounded-lg p-8 mb-6">
    <div class="hero-content text-center">
      <div class="max-w-2xl">
        <h1 class="text-3xl font-bold mb-10">Welcome to Climate Solutions</h1>

        <a href="/solutions/projects" class="btn btn-primary btn-lg">
          View Projects
        </a>
      </div>
    </div>
  </div>
</main>


    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
      
      <div class="card bg-base-100 shadow-lg">
        <figure><img src="/images/Project01.jpeg" alt="Project 1 p"  height="100px" width="100px" ></figure>
        <figure><img src="https://drawdown.org/sites/default/files/solutions/solution_farmlandrestoration01.jpg" alt="Project 1"  ></figure>
        <div class="card-body">
       
          <h2 class="card-title">Abandoned Farmland Restoration</h2>
          
          <p>Restoration can bring degraded farmland back into productivity and sequester carbon in the process.</p>
          <a href="/solutions/projects/1" class="btn btn-sm ">Details</a>
          
        </div>
      </div>
      <div class="card bg-base-100 shadow-lg">
        <figure><img src="/images/Project02.jpeg" alt="Project 2 p"  height="100px" width="100px" ></figure>
        <figure><img src="https://drawdown.org/sites/default/files/solutions2020/solution_alternativecement02.jpg" alt="Project 2"  ></figure>
        <div class="card-body">
          <h2 class="card-title">Alternative Cement</h2>
          
          <p>Conventional cement production is a significant source of carbon dioxide. Reformulation can reduce emissions by millions of metric tons each year.</p>
          <a href="/solutions/projects/2" class="btn btn-sm">Details</a>
        </div>
      </div>
      <div class="card bg-base-100 shadow-lg">
        <figure><img src="/images/Project03.jpeg" alt="Project 3 p"  height="100px" width="100px"></figure>
        <figure><img src="https://drawdown.org/sites/default/files/solutions2020/solution_bicycle_infrastructure.jpg" alt="Project 3 "  ></figure>
        <div class="card-body">
          <h2 class="card-title">Bicycle Infrastructure</h2>
          
          <p>Infrastructure is essential for supporting safe and abundant bicycle use, which curbs emissions by reducing the need for fossil-fuel-dependent transportation.</p>
          <a href="/solutions/projects/3" class="btn btn-sm">Details</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
